<a href="https://colab.research.google.com/github/grbarbosa3/Pandas_lecture/blob/master/Analise_exploratoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Análise exploratória**

In [2]:
import pandas as pd 

df = pd.read_csv("https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/ocorrencias_aviacao.csv",
                 index_col='codigo_ocorrencia')

df.head()

                  ocorrencia_classificacao  ... ocorrencia_dia_extracao
codigo_ocorrencia                           ...
201305055424986                   ACIDENTE  ...              2018-08-28
201605160250139            INCIDENTE GRAVE  ...              2018-08-28
201805021421302                  INCIDENTE  ...              2018-08-28
201311259977425            INCIDENTE GRAVE  ...              2018-08-28
201103187273112                  INCIDENTE  ...              2018-08-28

[5 rows x 21 columns]

In [4]:
df.info();

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5208 entries, 201305055424986 to 201309012098180
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ocorrencia_classificacao        5208 non-null   object
 1   ocorrencia_tipo                 5208 non-null   object
 2   ocorrencia_tipo_categoria       5208 non-null   object
 3   ocorrencia_tipo_icao            5208 non-null   object
 4   ocorrencia_latitude             5208 non-null   float64
 5   ocorrencia_longitude            5208 non-null   float64
 6   ocorrencia_cidade               5208 non-null   object
 7   ocorrencia_uf                   5208 non-null   object
 8   ocorrencia_pais                 5208 non-null   object
 9   ocorrencia_aerodromo            5208 non-null   object
 10  ocorrencia_dia                  5208 non-null   object
 11  ocorrencia_horario              5208 non-null   object
 12  investigacao_aeronave_liberada  1110 non-null   object
 13  investigacao_status             5208 non-null   object
 14  divulgacao_relatorio_numero     5208 non-null   object
 15  divulgacao_relatorio_publicado  5208 non-null   object
 16  divulgacao_dia_publicacao       1261 non-null   object
 17  total_recomendacoes             5208 non-null   int64
 18  total_aeronaves_envolvidas      5208 non-null   int64
 19  ocorrencia_saida_pista          5208 non-null   object
 20  ocorrencia_dia_extracao         5208 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 895.1+ KB

In [6]:
df.dtypes

ocorrencia_classificacao           object
ocorrencia_tipo                    object
ocorrencia_tipo_categoria          object
ocorrencia_tipo_icao               object
ocorrencia_latitude               float64
ocorrencia_longitude              float64
ocorrencia_cidade                  object
ocorrencia_uf                      object
ocorrencia_pais                    object
ocorrencia_aerodromo               object
ocorrencia_dia                     object
ocorrencia_horario                 object
investigacao_aeronave_liberada     object
investigacao_status                object
divulgacao_relatorio_numero        object
divulgacao_relatorio_publicado     object
divulgacao_dia_publicacao          object
total_recomendacoes                 int64
total_aeronaves_envolvidas          int64
ocorrencia_saida_pista             object
ocorrencia_dia_extracao            object
dtype: object

## **Valores únicos**

Para ver quais os valores únicos de uma coluna usando o método `.unique()`

In [7]:
df.ocorrencia_classificacao.unique()

array(['ACIDENTE', 'INCIDENTE GRAVE', 'INCIDENTE'], dtype=object)

Enquanto o método acima retorna a lista de valores únicos, muitas vezes queremos saber a frequência com que elas ocorrem.

No exemplo da coluna ocorrencia_tipo, para saber a quantidade de cada tipo de ocorrência, podemos usar `value_counts()`.

###Tipos mais comuns de ocorrência

In [8]:
df.ocorrencia_tipo.value_counts()

FALHA DO MOTOR EM VOO                                  682
ESTOURO DE PNEU                                        604
FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPONENTE     574
PERDA DE CONTROLE NO SOLO                              492
OUTROS                                                 350
                                                      ...
CAUSADO POR RICOCHETE                                    1
MANOBRA ABRUPTA                                          1
PERDA DA CONSCIÊNCIA                                     1
RELACIONADO COM SECURITY                                 1
CORTANTE DE VENTO / TEMPESTADE                           1
Name: ocorrencia_tipo, Length: 63, dtype: int64

Para verificar a porcentagem do tipo de cada ocorrencia, usa-se:

In [9]:
df.shape

(5208, 21)

In [13]:
df.ocorrencia_tipo.value_counts() / df.shape[0]

FALHA DO MOTOR EM VOO                                  0.130952
ESTOURO DE PNEU                                        0.115975
FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPONENTE     0.110215
PERDA DE CONTROLE NO SOLO                              0.094470
OUTROS                                                 0.067204
                                                         ...
CAUSADO POR RICOCHETE                                  0.000192
MANOBRA ABRUPTA                                        0.000192
PERDA DA CONSCIÊNCIA                                   0.000192
RELACIONADO COM SECURITY                               0.000192
CORTANTE DE VENTO / TEMPESTADE                         0.000192
Name: ocorrencia_tipo, Length: 63, dtype: float64

### Cidades com mais ocorrencia

In [16]:
df.ocorrencia_cidade.value_counts()

RIO DE JANEIRO                304
SÃO PAULO                     250
BELO HORIZONTE                165
GUARULHOS                     153
BRASÍLIA                      151
                             ...
NORMANDIA                       1
SANTA RITA DO NOVO DESTINO      1
BOA ESPERANÇA DO SUL            1
TIMÓTEO                         1
GURINHATÃ                       1
Name: ocorrencia_cidade, Length: 1015, dtype: int64

In [17]:
df.ocorrencia_cidade.value_counts()	/ df.shape[0]

RIO DE JANEIRO                0.058372
SÃO PAULO                     0.048003
BELO HORIZONTE                0.031682
GUARULHOS                     0.029378
BRASÍLIA                      0.028994
                                ...
NORMANDIA                     0.000192
SANTA RITA DO NOVO DESTINO    0.000192
BOA ESPERANÇA DO SUL          0.000192
TIMÓTEO                       0.000192
GURINHATÃ                     0.000192
Name: ocorrencia_cidade, Length: 1015, dtype: float64

### Calissificação da ocorrencia

In [20]:
df.ocorrencia_classificacao.value_counts()

INCIDENTE          2861
ACIDENTE           1714
INCIDENTE GRAVE     633
Name: ocorrencia_classificacao, dtype: int64

###Aerodromos com mais ocorrencia

In [21]:
df.ocorrencia_aerodromo.value_counts()

****    2110
SBGR     139
SBBH     106
SBMT     105
SBBR     102
        ...
SDLZ       1
5JTI       1
SSAC       1
SIPO       1
SNBG       1
Name: ocorrencia_aerodromo, Length: 471, dtype: int64

##**Filtrando valores**

### loc

Para usar esta opção, você deve entender que o mesmo funciona da seguinte maneira:

`loc[<linhas>, <colunas>]`

Este método pode ser usado em duas situações:

* Selecionar linhas por *labels*/*index*
* Selecionar linhas baseado em um *array* booleano

Vou dar um exemplo da primeira situação em que podemos usar `loc`. Suponha que eu precise extrair a latitude e longitude do local onde aconteceu a ocorrência de número `201103187273112`:

In [23]:
# selecionando a ocorrencia numero 201103187273112	

df.loc[201103187273112	]

ocorrencia_classificacao           INCIDENTE
ocorrencia_tipo                       OUTROS
ocorrencia_tipo_categoria             OUTROS
ocorrencia_tipo_icao                    OTHR
ocorrencia_latitude                  -13.195
ocorrencia_longitude                -60.8184
ocorrencia_cidade                 CEREJEIRAS
ocorrencia_uf                             RO
ocorrencia_pais                       BRASIL
ocorrencia_aerodromo                    ****
ocorrencia_dia                    2011-03-18
ocorrencia_horario                  13:30:00
investigacao_aeronave_liberada           NaN
investigacao_status               FINALIZADA
divulgacao_relatorio_numero              ***
divulgacao_relatorio_publicado           NÃO
divulgacao_dia_publicacao                NaN
total_recomendacoes                        0
total_aeronaves_envolvidas                 1
ocorrencia_saida_pista                   NÃO
ocorrencia_dia_extracao           2018-08-28
Name: 201103187273112, dtype: object

In [24]:
# Para selecionar apenas latitude e Longitude

df.loc[201103187273112, ['ocorrencia_latitude','ocorrencia_longitude']	]

ocorrencia_latitude     -13.195
ocorrencia_longitude   -60.8184
Name: 201103187273112, dtype: object

In [25]:
# Utilizando um loc para saber apenas as ocorrencias "FALHA DO MOTOR EM VOO"

df["ocorrencia_tipo"] == "FALHA DO MOTOR EM VOO"

codigo_ocorrencia
201305055424986     True
201605160250139    False
201805021421302    False
201311259977425    False
201103187273112    False
                   ...
200811264169752    False
200910311058203    False
200810318709738    False
200803063018556    False
201309012098180    False
Name: ocorrencia_tipo, Length: 5208, dtype: bool

In [33]:
# Criando novo dataFrame so para casos da ocorrencia "FALHA DO MOTOR EM VOO"
falha_motor = df[df['ocorrencia_tipo'] == "FALHA DO MOTOR EM VOO"]

falha_motor

                  ocorrencia_classificacao  ... ocorrencia_dia_extracao
codigo_ocorrencia                           ...
201305055424986                   ACIDENTE  ...              2018-08-28
201211159478138                   ACIDENTE  ...              2018-08-28
200811167138358                   ACIDENTE  ...              2018-08-28
201111224132085                   ACIDENTE  ...              2018-08-28
201509183338691                   ACIDENTE  ...              2018-08-28
...                                    ...  ...                     ...
201010071078892                  INCIDENTE  ...              2018-08-28
201401316648236                   ACIDENTE  ...              2018-08-28
201206197822069                  INCIDENTE  ...              2018-08-28
201412032134334                   ACIDENTE  ...              2018-08-28
200810155397991                  INCIDENTE  ...              2018-08-28

[682 rows x 21 columns]

In [46]:
#cidades com maior numero de falha de motor em voo

falha_motor.ocorrencia_cidade.value_counts()

RIO DE JANEIRO          24
GUARULHOS               20
BELO HORIZONTE          17
SÃO PAULO               16
PORTO ALEGRE            16
                        ..
AFUÁ                     1
AFONSO CLÁUDIO           1
NOVA OLINDA DO NORTE     1
PROMISSÃO                1
VILA PROPÍCIO            1
Name: ocorrencia_cidade, Length: 367, dtype: int64

### iloc

O uso do `iloc` é mais simples, pois a gente passa seleciona linhas e colunas usando números, na mesma ordem em que aparecem no *DataFrame*:

`loc[<numero_da_linha>, <numero_da_coluna>]`

Eu consigo selecionar um *range* de interesse. Por exemplo, para selecionar as 3 primeiras entradas e as 4 primeiras colunas, eu faria da seguinte maneira:

In [57]:
#Selecionando as tres primeiras linhas e tres primeiras colunas.

df.iloc[0:3,0:3]

                  ocorrencia_classificacao  ...                          ocorrencia_tipo_categoria
codigo_ocorrencia                           ...
201305055424986                   ACIDENTE  ...                FALHA OU MAU FUNCIONAMENTO DO MOTOR
201605160250139            INCIDENTE GRAVE  ...  COLISÃO COM OBSTÁCULO DURANTE A DECOLAGEM E POUSO
201805021421302                  INCIDENTE  ...                                          AERÓDROMO

[3 rows x 3 columns]