<a href="https://colab.research.google.com/github/grbarbosa3/Pandas_lecture/blob/master/Informa%C3%A7oes_estatisticas_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Manipulção estatística dos dados**

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/josegrlopes/bikesharingsystem_BrasiliaBR/master/data/df_rides.csv")

In [4]:
df.head()

  user_gender user_birthdate  ... ride_duration ride_late
0           M     1971-06-08  ...     16.250000       0.0
1           M     1989-02-11  ...      5.266667       0.0
2           M     1968-07-19  ...     15.400000       0.0
3           M     1991-12-19  ...      5.866667       0.0
4           M     1969-03-03  ...    641.133333       1.0

[5 rows x 10 columns]

## **Resumo das informações estatísticas**

A maneira mais simples de se iniciar uma análise exploratoria de dados é utilizando o método `.describe()`

In [5]:
df.describe()

# Atenção às 'series' presentes. Grande parte das colunas são datas, horários e nomes 
# onde possivelmente são strings ou booleanos. Será necessário a manipulção dessas
# informações.

       ride_duration      ride_late
count  214148.000000  214148.000000
mean       29.915932       0.098829
std        58.857297       0.298433
min         3.000000       0.000000
25%         8.083333       0.000000
50%        14.200000       0.000000
75%        33.766667       0.000000
max       999.600000       1.000000

In [0]:
# Atenção aos Outliers presentes principalmente no valor máximo de `ride_duration`

### **Média**

In [7]:
df.ride_duration.mean()

29.915931894453134

###**Mediana**

In [8]:
meus_dados = pd.Series([1,1,2,4,6,5,9,1953])

meus_dados

0       1
1       1
2       2
3       4
4       6
5       5
6       9
7    1953
dtype: int64

In [9]:
meus_dados.mean()

247.625

In [10]:
meus_dados.median()

4.5

In [0]:
# Para os dados do DataFrame, percebe-se a diferença nos valores de média e mediana(50%)
# essa diferença indica mais outliers. Deve ser feita mais investigações.

In [12]:
# mediana do DataFrame

df.ride_duration.median()

14.2

###**Desvio padrão**

In [13]:
df.ride_duration.std()

58.85729654164017

## **Valores Mínimos e valores máximos**

In [14]:
df.ride_duration.max()

999.6

In [15]:
df.ride_duration.min()

3.0