<a href="https://colab.research.google.com/github/grbarbosa3/Pandas_lecture/blob/master/Valores_ausentes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lidando com valores ausentes**

In [4]:
import pandas as pd

In [10]:
df = pd.read_csv("http://dl.dropboxusercontent.com/s/yyfeoxqw61o3iel/df_rides.csv")
df.head()

  user_gender user_birthdate  ... ride_duration ride_late
0           M     1971-06-08  ...     16.250000       0.0
1           M     1989-02-11  ...      5.266667       0.0
2           M     1968-07-19  ...     15.400000       0.0
3           M     1991-12-19  ...      5.866667       0.0
4           M     1969-03-03  ...    641.133333       1.0

[5 rows x 10 columns]

##Identificando Valores ausentes

In [16]:
# Verificar valores ausentes

df.isnull().head()

   user_gender  user_birthdate  ...  ride_duration  ride_late
0        False           False  ...          False      False
1        False           False  ...          False      False
2        False           False  ...          False      False
3        False           False  ...          False      False
4        False           False  ...          False      False

[5 rows x 10 columns]

In [17]:
# Somando os valores para cada coluna
df.isnull().sum()

user_gender          396
user_birthdate         1
user_residence    179905
ride_date              0
time_start             0
time_end           43285
station_start          0
station_end            0
ride_duration      73174
ride_late          73174
dtype: int64

In [19]:
# Trazendo para %
df.isnull().sum() / df.shape[0]

user_gender       0.001378
user_birthdate    0.000003
user_residence    0.626144
ride_date         0.000000
time_start        0.000000
time_end          0.150650
station_start     0.000000
station_end       0.000000
ride_duration     0.254676
ride_late         0.254676
dtype: float64

## **Excluir valores ausentes**
### Ela exclui todos os dados existentes em outras colunas! Usar apenas caso tenha poucos dados ausentes (*NaN*)

In [23]:
# Eliminando entrada com `.dropna`

df_clean = df.dropna(subset=['user_gender'], axis=0)

# Comparar o antes e o depois

print("Antes:\t{}".format(df.shape))
print("Depois:\t{}".format(df_clean.shape))

Antes:	(287322, 10)
Depois:	(286926, 10)

## **Preencher valores ausentes**

In [22]:
# Antes
df_clean.isnull().sum()

user_gender            0
user_birthdate         1
user_residence    179818
ride_date              0
time_start             0
time_end           43212
station_start          0
station_end            0
ride_duration      73064
ride_late          73064
dtype: int64

In [24]:
# Preenchendo valores ausentes com a Mediana

rd_median = df_clean.ride_duration.median()
df_clean = df_clean.fillna({'ride_duration':rd_median})

# Ver valores ausentes
df_clean.isnull().sum()

user_gender            0
user_birthdate         1
user_residence    179818
ride_date              0
time_start             0
time_end           43212
station_start          0
station_end            0
ride_duration          0
ride_late          73064
dtype: int64

In [25]:
#ver valores mais frequentes

df_clean.user_gender.value_counts()

M    212608
F     74318
Name: user_gender, dtype: int64

In [26]:
# preencher valores ausentes de user_gender com 'M'

df_clean = df_clean.fillna({'user_gender': 'M'})

#ver valores ausentes

df_clean.isnull().sum()

user_gender            0
user_birthdate         1
user_residence    179818
ride_date              0
time_start             0
time_end           43212
station_start          0
station_end            0
ride_duration          0
ride_late          73064
dtype: int64